/.CFUserTextEncoding
/.DS_Store
/.IdentityService
/.Trash
/.android
/.aspnet
/.dotnet
/.local
/.mono
/.nuget
/.templateengine
/.vscode
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Projects
/Public
/test.py